@using Foosball.Extensions;

@section SPAViews {
    @Html.Partial("_Home")
}
@section Scripts{
    @*@Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")*@
}

<div id="welcome" class="panel panel-default">
	<div class="panel-body">
		<h1>Welcome @User.FirstName()</h1>
	</div>
</div>

<div id="rules" class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Rules</h3>
	</div>
	
	<div class="panel-body">
		<ol>
			<li>
				Each week the 2 users with the most correct picks will be the weekly winners. 
				If two or more people have the same number of correct picks, then there will be a tie breaker. 
				The person closest to the Monday Night score will be the winner. 
				If there is still a tie then under beats over.*
			</li>
			<li>
				There will also be overall winners. For 1st, 2nd, 3rd and 4th. 
				If there is a tie between any of these places then there will be a tie breaker. 
				The Monday Night score for the last week of the season will determine the tie breaker. 
				If there is still a tie then under beats over.*
			</li>
			<li>
				Users will be locked out to enter picks 1 hour before game time on Thursday then rest of the picks will be locked out 1 hour before the first game on Sunday.
			</li>
			<li>
				If you do not enter your picks for any week then you will get the lowest score minus one from participants for that particular week. **
			</li>
			<li>
				Picks e-mailed to me will not be entered. If you missed the deadline time then do not e-mail your picks to me. 
				I will only submit picks through e-mail if server goes down or if you and I made prior arrangements.***
			</li>
		</ol>
		<ul>
			<li>
				<strong>*</strong> i.e.  if user <strong>A</strong> picks a score of 36 and user <strong>B</strong> picks a score of 44.
				The final score for Monday Night was 40, then user <strong>A</strong> will win because his/her pick was under the Monday Night score.
			</li>
			<li>
				** i.e. if the lowest score for the week was 7 then anyone who did not enter their picks for that  week will get 6 correct towards overall standings.
			</li>
			<li>
				*** I suggest entering  your weekly picks on every Tuesday and editing them if needed later in the week. This will assure that you submit picks every week.
			</li>
		</ul>
	</div>
</div>
