body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
	margin-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.glyphicon-spacer {
	width: 14px;
	height: 14px;
}

table {
    font-family: NFLEndzoneTechBold,sans-serif;
}
.column-at {
	font-size: 12px;
}
.column-center {
	text-align: center;
}
.column-right {
	text-align: right;
}
.column-right-spacer {
	padding-right: 10px !important;
}

.team-logo-small {
	width: 40px;
	height: 27px;
	margin-right: 8px;
	margin-left: 8px;
}
.team-name-list {

}
td.picked {
	font-weight: bold;
	color: #1f44e3;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
}
td.picked-current {
	background-color: #eee !important;
}
td.pickable {
	cursor: pointer;
}
td.pickable:hover {
	background-color: #f0ffff;
}
td.total-points input {
	border-color: blue;
}
td.standing-points {
	font-weight: bold;
}

tr.user-role-guest {
	background-color: #fee !important;
}
tr.locked {
	background-color: #f9f9f9 !important;
	color: #aaa;
	font-style: italic;
}
tr.group {
	background-color: #ddd !important;
	font-size: 12px;
    text-transform: uppercase;
    color: #666;
}
tr.tie-breaker {
	font-weight: bold;
}
tr.master-picks {
	font-weight: bold;
}
tr.spacer-row {
	height: 6px;
	background-color: #666 !important;
}

#rules ol li {
	margin-bottom: 10px;
}
#rules ul {
	list-style: none;
	font-style: italic;
	margin-top: 25px;
}
#pastWinners ul {
	list-style: none;
}
#welcome .alert {
	font-weight: bold;
}
.picks-nav {
	float: right;
}
.no-pick {
	width: 40px;
	margin-left: 8px;
	margin-right: 8px;
}
.correct-pick {
	background-color: #c0ffc0;
}
.incorrect-pick {
	background-color: #ffc0c0;
}

@media (max-width: 800px) {
	/* hide user image */
	img.user-list-image {
		visibility: hidden;
		display: none;
	}
}

#top20 ul {
	list-style: none;
	margin: 0 0 10 0;
	padding: 0;
}
#top20 .standing-points {
	display: inline-block;
	width: 25px;
	text-align: right;
	margin-right: 8px;
	font-weight: bold;
}

td.rank-1 {
	font-weight: bold;
	background-color: gold;
}
td.rank-2 {
	background-color: silver;

}
.has-picked {
	color: green !important;
	font-size: 10px;
}

.team-name-home-right {
	display: none;
}
.team-name-home-left {
	display: inline;
}
@media only screen and (max-width: 480px) {
	.team-name-home-right {
		display: block;
	}
	.team-name-home-left {
		display: none;
	}
}


/* HACK for Bootstrap 3.0.0 not handling offset in mobile */
@media (max-width: 768px) {
	.col-xs-offset-6 {
		margin-left: 50%;
	}
}