@model List<Foosball.Models.UserListViewModel>

<table id="accountsTable" class="row-border" cellspacing="0">
	<thead>
		<tr>
			<th></th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Role</th>
			<th>$$</th>
			<th></th>
		</tr>
	</thead>
</table>

<script type="text/javascript">
	$(document).ready(function () {
		$('#accountsTable').dataTable({
			"ajax": _rootDir + 'account/listdata',
			paging: false,
			searching: false,
			info: false,
			order: [1, 'asc'],
			createdRow: function(row, data, dataIndex) {
				if (data.Role == 'Guest') {
					$(row).addClass('user-role-guest');
				}
			},
			columns: [
				{ data: 'ImageUrl' },
				{ data: 'FirstName' },
				{ data: 'LastName' },
				{ data: 'Email' },
				{ data: 'Role' },
				{ data: 'Winnings' }
			],
			columnDefs: [
				{
					targets: 0,
					width: '65px',
					sortable: false,
					render: function (data, type, row) {
						if (!data)
							return '';
						return '<img src="' + data + '?s=40" class="user-list-image" />';
					}
				},
				{
					targets: 5,
					width: '75px',
					sortable: false,
					render: function (data, type, row) {
						return '<div><input type="text" class="form-control" maxlength="6" value="' + data + '" data-id="' + row.Id + '" /></div>';
					}
				},
				{
					targets: 6,
					sortable: false,
					width: '75px',
					render: function (data, type, row) {
						var edit = '<a href="' + _rootDir + 'account/edit/' + row.Id + '" class="glyphicon glyphicon-pencil"></a> ',
							del = '<a href="javascript:void(0);" class="glyphicon glyphicon-remove-circle" data-id="' + row.Id + '" title="Delete user"></a> ',
							secUp = '<a href="javascript:void(0);" class="glyphicon glyphicon-chevron-up" data-id="' + row.Id + '" title="Promote user"></a> ',
							secDown = '<a href="javascript:void(0);" class="glyphicon glyphicon-chevron-down" data-id="' + row.Id + '" title="Demote user"></a> ',
							pwd = '<a href="' + _rootDir + 'account/setpassword/' + row.Id + '" class="glyphicon glyphicon-lock" title="Set Password"></a> ',
							spacer = '<span class="glyphicon glyphicon-spacer"></span> '
							dom = '';

						dom += edit + pwd;
						dom += (row.Role == 'Guest') ? secUp : (row.Role == 'User') ? secDown : spacer;
						dom += del;

						return dom;
					}
				}
			]
		});

		$('#accountsTable').on('click', 'a.glyphicon-chevron-up', function (e) {
			var id = $(this).attr('data-id');
			if (confirm('Are you sure you want to promote this user?')) {
				$.ajax({
						url: _rootDir + 'account/securityup/' + id,
						method: 'POST'
					})
					.always(function () {
						window.location.reload();
					});
			}
		});

		$('#accountsTable').on('click', 'a.glyphicon-chevron-down', function (e) {
			var id = $(this).attr('data-id');
			if (confirm('Are you sure you want to demote this user?')) {
				$.ajax({
					url: _rootDir + 'account/securitydown/' + id,
					method: 'POST'
				})
					.always(function () {
						window.location.reload();
					});
			}
		});

		$('#accountsTable').on('click', 'a.glyphicon-remove-circle', function (e) {
			var id = $(this).attr('data-id');
			if (confirm('Are you sure you want to delete the user?')) {
				$.ajax({
						url: _rootDir + 'account/delete/' + id,
						method: 'POST'
					})
					.always(function () {
						window.location.reload();
					});
			}
		});

		$('#accountsTable')
			.on('keyup', 'input.form-control', function () {
				clearTimeout($.data(this, 'timer'));
				var wait = setTimeout(saveWinnings, 500, $(this));
				$(this).data('timer', wait);
			});

	});

	function saveWinnings(input) {
		var div = input.parent(),
			td = div.parent(),
			tr = td.parent(),
			id = input.attr('data-id'),
			winnings = input.val();

		div.removeClass('has-error');

		if (!$.isNumeric(winnings)) {
			div.addClass('has-error');
			return;
		}

		try {
			winnings = parseFloat(winnings, 10);
		}
		catch (ex) {
			div.addClass('has-error');
			return;
		}

		if (winnings < 0) {
			div.addClass('has-error');
			return;
		}

		// save the winnings
		$.ajax({
			url: _rootDir + 'account/winnings/' + id,
			method: 'POST',
			data: {
				winnings: winnings
			},
			success: function (e) {
				console.log('winnings saved');
			}
		});

	}
</script>