@model List<Foosball.Models.ScheduleViewModel>

<a href="/schedules/edit/0" class="btn btn-default">Add Schedule</a>

<table id="schedulesTable" class="display" cellspacing="0">
	<thead>
		<tr>
			<th>Week</th>
			<th>Date</th>
			<th>Home</th>
			<th>Away</th>
			<th></th>
		</tr>
	</thead>
</table>

<script type="text/javascript">
	$(document).ready(function () {
		$('#schedulesTable').dataTable({
			"ajax": '/schedules/listdata',
			paging: false,
			info: false,
			columns: [
				{ data: 'Week' },
				{ data: 'Date' },
				{ data: 'HomeTeam' },
				{ data: 'AwayTeam' }
			],
			columnDefs: [
				{
					targets: 2,
					render: function (data, type, row) {
						return '<img class="team-logo-small" src="' + data.ImageUrl + '"/><span class="team-name-list">' + data.Name.toUpperCase() + '</span>';
					}
				},
				{
					targets: 3,
					render: function (data, type, row) {
						return '<img class="team-logo-small" src="' + data.ImageUrl + '"/><span class="team-name-list">' + data.Name.toUpperCase() + '</span>';
					}
				},
				{
					targets: 4,
					render: function (data, type, row) {
						return '<a href="/schedules/edit/' + row.Id + '" class="glyphicon glyphicon-pencil"></a>  <a href="javascript:void(0);" class="glyphicon glyphicon-remove-circle" data-id="' + row.Id + '"></a>'
					}
				}
			]
		});

		$(document).on('click', 'a.glyphicon-remove-circle', function (e) {
			var id = $(this).attr('data-id');
			if (confirm('Are you sure you want to delete the schedule?')) {
				$.ajax({
						url: '/schedules/delete/' + id,
						method: 'POST'
					})
					.always(function () {
						window.location.reload();
					});
			}
		});
	});
</script>

